.CartAll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 234;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  .List_Cart {
    position: absolute;
    width: 50%;
    right: 10%;
    bottom: 0;
    top: 0;
    z-index: 7777;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    font-family: "Abel";
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f76262;
      border-radius: 5px;
    }
    .List_Cart-header {
      height: 60px;
      font-size: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 20px 0;
      border-bottom: 1px solid #ccc;
      background: linear-gradient(-180deg, #1c1c1c, rgb(60, 59, 58));

      position: sticky;
      top: 0;
      .Out {
        position: absolute;
        top: 3px;
        color: #fff;
        right: 5px;
        font-size: 23px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .Cart_Product {
      display: flex;
      gap: 5%;
      padding: 20px 20px;
      border-bottom: 1px solid #ccc;
      .Cart_Product-img {
        width: 40%;

        img {
          width: 100%;
          height: 150px;
        }
      }
      .Cart_Product-Price {
        width: 50%;
        .Cart_Product-name {
          display: flex;
          gap: 25%;
          font-size: 16px;
          font-weight: 400;
        }
        .Cart_Product-item {
          display: flex;
          gap: 10%;
          font-size: 16px;
          font-weight: 600;

          margin-top: 30px;
          .Next-Prever {
            width: 25px;
            background-color: rgb(212, 232, 250);
            text-align: center;
            border-radius: 50%;
            padding: 2px;

            cursor: pointer;
            &:hover {
              background-color: aqua;
            }
          }
        }
      }
    }
    .Cart_total-money {
      display: flex;
      padding: 20px 15%;
      justify-content: space-between;
      font-size: 18px;
      border-bottom: 1px solid #ccc;
    }
    .buying {
      margin-top: 15px;
      padding-bottom: 100px;
      div {
        text-align: center;
        font-size: 18px;
        color: rgb(33, 33, 33);
        margin-bottom: 15px;
      }
      button {
        background: linear-gradient(-180deg, #0f0f0f, rgb(30, 28, 27));
        font-size: 16px;
        color: #fff;
        padding: 10px;
        border: none;
        float: right;
        margin-right: 10%;
        border-radius: 4px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
