.SearachFiled {
  height: 46px;
  padding-left: 74px;
  padding-right: 56px;
  display: flex;
  align-items: center;
  margin-bottom: 69px;
  .SearachFiled_search {
    display: flex;
    width: 75%;
    padding-right: 45px;
    .logo_search {
      img {
        width: 40px;
        height: 40px;
        color: #131313;
      }
      margin-right: 65px;
    }
  }
  .SearachFiled_search-Sajari {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #1b1b1b;
    input {
      flex: 1;
      height: 33px;
      outline: none;
      border: none;
      font-size: 26px;
      font-family: "Abel";
    }

    .Powered_Sajari {
      display: flex;
      align-items: center;

      a {
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        text-decoration: none;
        color: #131313;
        span {
          font-weight: 600;
        }
      }
      img {
        padding-left: 5px;
      }
    }
  }
  .Dropdown {
    height: 46px;
    width: 25%;
    border-bottom: 2px solid #ccc;
    select {
      width: 100%;
      height: 33px;
      font-size: 24px;
      border: none;
      color: #22232b;
      font-family: "Abel";
    }
  }
}

@media (max-width: 800px) {
  .SearachFiled {
    padding: 0 16px;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
    .SearachFiled_search-Sajari {
      flex-direction: column;
      border: none;
      .Powered_Sajari {
        justify-content: end;
        margin-top: 10px;
      }
      input {
        font-size: 18px;
        padding-bottom: 10px;
        border-bottom: 2px solid #131313;
      }
    }
    .SearachFiled_search {
      padding: 0;
      width: 90%;
      .logo_search {
        margin-right: 25px;
      }
      .logo_search img {
        width: 20px;
        height: 20px;
      }
    }
    .Dropdown {
      width: 100%;
      margin-top: 30px;
    }
  }
}
